$mobile:  "only screen and (max-width : 320px)";
$tablet: "only screen and (max-width : 768px)";
$laptop: "only screen and (max-width : 1024px)";
$desktop: "only screen and (max-width : 1440px)";

$background-color: #F5F6F7;
$primary-color: #DA2032;