@import "../../../styles/variables";

.toolbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 70px;
	margin: 0;
	padding: 0 5%;

	@media #{$laptop} {
		height: 55px;
	}
}

.profile {
	$name-color: #FFFFFF;
	$role-color: #E5E5E5;

	display: flex;
	align-items: center;
	column-gap: 7px;
	cursor:  pointer;

	.avatar {
		height: 32px;
		width: 32px;
	
		background-color: #C4C4C4;
		border-radius: 50%;
	}

	.info {
		display: flex;
		flex-direction: column;
		
		font-weight: 700;

		.name {
			color: $name-color;
		}

		.role {
			color: $role-color;
		}
	}
}