<mat-toolbar color="primary" class="toolbar">
	<ng-container *ngIf="windowSizeService.isLaptopOrSmaller() | async; else desktop">
		<button mat-icon-button 
				aria-label="menu"
				(click)="sidebarService.toggleSidebar()">
			<mat-icon>
				<img src="/assets/icons/burger-menu.svg" alt="menu">
			</mat-icon>
		</button>
	</ng-container>

	<ng-template #desktop>
		<div class="profile">
			<div class="avatar">
				<img src="/assets/icons/32/user.svg" alt="avatar">
			</div>
			<div class="info">
				<div class="name">Иванов</div>
				<div class="role">Администратор</div>
			</div>
			<mat-icon class="menu">
				<img src="/assets/icons/18/arrow-down.svg" alt="menu">
			</mat-icon>
		</div>
	</ng-template>
</mat-toolbar>
