<!-- <div class="header-container">
	<div class="profile">
		<div class="avatar">
			<img src="/assets/icons/32/user.svg" alt="avatar">
		</div>
		<div class="info">
			<div class="name">Иванов</div>
			<div class="role">Администратор</div>
		</div>
		<div class="menu">
			<img src="/assets/icons/18/arrow-down.svg" alt="menu">
		</div>
	</div>
	<div class="burger-menu">
		<img src="/assets/icons/burger-menu.svg" alt="menu">
	</div>
</div> -->
<div class="header-container">
	<mat-toolbar color="primary">
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
			<mat-icon>menu</mat-icon>
		  </button>
	</mat-toolbar>
</div>
