.pagination {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 24px 72px;
	color: gray;
}

.status {
    color: rgba(255, 0, 31, 1);

	&.active {
		color: rgba(37, 181, 83, 1);
	}
}

.signature {
    color: rgba(255, 0, 31, 1);

	&.active {
		color: rgba(37, 181, 83, 1);
	}
}