.mat-mdc-icon-button.mat-mdc-button-base {
	padding: 10px;
}

.mat-mdc-card.mdc-card {
	box-shadow: none;
}

.mat-mdc-card-content {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.mat-mdc-card-content:last-child {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.mat-mdc-card-content:last-child {
	padding-bottom: 0;
}