@import "../variables";

.mat-mdc-header-row.mdc-data-table__header-row {
	background-color: $primary-color;
}

.mdc-data-table__header-cell.mdc-data-table__header-cell {
	text-align: center;
	color: $white;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}

.mat-mdc-cell.mdc-data-table__cell {
	text-align: center;
}