@import "./styles/variables";

:host {
	display: block;
	background-color: $background-color;
}

mat-sidenav-container {
	min-height: 100vh;
}

.sidenav {
	min-width: 273px;
	border: none;
	background-color: $secondary-color;
	color: $white;
	height: 100%;

	@media #{$desktop} {
		min-width: 263px;
	}

	@media #{$tablet} {
		width: 100%;
	}
}

.container {
	padding: 44px;

	@media #{$mobile-landscape} {
		padding: 0;
	}
}