<div class="navigation">
	<div class="back">
		<mat-icon>arrow_back_ios</mat-icon>
		<span>Назад</span>
	</div>
</div>
<h2 class="title">Настройка учетных записей сотрудников контрагента</h2>
<div class="toolbar">
	<div class="actions">
		<button mat-button color="primary">
			<span>Добавить</span>
			<mat-icon>add_circle_outline</mat-icon>
		</button>
		<button mat-button color="primary">
			<span>Разблокировать</span>
			<mat-icon>check_circle_outline</mat-icon>
		</button>
		<button mat-button color="primary">
			<span>Заблокировать</span>
			<mat-icon>highlight_off</mat-icon>
		</button>
		</div>
		<div class="filters">
		<button mat-button color="primary" (click)="toggleFilter()" [ngClass]="{ 'active-filter': isFilterOpened }">
			<span>Фильтр</span>
			<mat-icon>filter_list</mat-icon>
		</button>
	</div>
</div>

<mat-card class="filter" *ngIf="isFilterOpened">
	<mat-card-header class="filter-title">
		<p>Фильтр</p>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="filterForm" class="form">
			<div class="filter-inputs">
			<div class="filter-form-input">
				<label class="label">Логин</label>
				<mat-form-field>
				<input class="input" type="text" matInput formControlName="login">
				<button *ngIf="filterForm.get('login')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('login')">
					<mat-icon matSuffix>cancel</mat-icon>
				</button>
				</mat-form-field>
			</div>
			
			<div class="filter-form-input">
				<label class="label">Телефон</label>
				<mat-form-field>
				<input class="input" type="tel" matInput formControlName="phone">
				<button *ngIf="filterForm.get('phone')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('phone')">
					<mat-icon matSuffix>cancel</mat-icon>
				</button>
				</mat-form-field>
			</div>
			
			<div class="filter-form-input">
				<label class="label">Дата Создания</label>
				<mat-form-field>
				<input class="input" matInput [matDatepicker]="pickerCreatedAt" formControlName="dateCreatedAt">
				<mat-datepicker-toggle matIconSuffix [for]="pickerCreatedAt">
					<mat-icon matDatepickerToggleIcon>apps</mat-icon>
				</mat-datepicker-toggle>
				<mat-datepicker #pickerCreatedAt></mat-datepicker>
				</mat-form-field>
			</div>
			
			<div class="filter-form-input">
				<label class="label">Статус</label>
				<mat-form-field>
				<input class="input" matInput formControlName="status">
				<button *ngIf="filterForm.get('status')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('status')">
					<mat-icon matSuffix>cancel</mat-icon>
				</button>
				</mat-form-field>
			</div>
			
			<div class="filter-form-input">
				<label class="label">Email</label>
				<mat-form-field>
				<input class="input" matInput formControlName="email">
				<button *ngIf="filterForm.get('email')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('email')">
					<mat-icon matSuffix>cancel</mat-icon>
				</button>
				</mat-form-field>
			</div>
			
			<div class="filter-form-input">
				<label class="label">Роль</label>
				<mat-form-field>
				<input class="input" matInput formControlName="role">
				<button *ngIf="filterForm.get('role')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearField('role')">
					<mat-icon matSuffix>cancel</mat-icon>
				</button>
				</mat-form-field>
			</div>
			
			<div class="filter-form-input">
				<label class="label">Дата изменения</label>
				<mat-form-field>
				<input class="input" matInput [matDatepicker]="pickerModifiedAt" formControlName="dateModifiedAt">
				<mat-datepicker-toggle matIconSuffix [for]="pickerModifiedAt">
					<mat-icon matDatepickerToggleIcon>apps</mat-icon>
				</mat-datepicker-toggle>
				<mat-datepicker #pickerModifiedAt></mat-datepicker>
				</mat-form-field>
			</div>
			</div>
			
			<div class="actions">
			<button mat-button class="large" color="primary">
				<span>Применить</span>
			</button>
			<button mat-button class="large" color="primary">
				<span>Отмена</span>
			</button>
			<button mat-button class="large" color="primary" (click)="filterForm.reset()">
				<span>Сбросить</span>
			</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
